APP_NAME=opsbrain-backend
APP_ENV=dev
APP_VERSION=0.1.0
CONFIG_FILE=configs/default.yaml
LOG_LEVEL=info
LOG_ENCODING=console
LOG_DEVELOPMENT=true
HTTP_ADDR=:8080
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=30s
HTTP_SHUTDOWN_TIMEOUT=10s
JWT_SECRET=please-change-me-in-production
DATA_SECRET=please-change-data-secret
ACCESS_TOKEN_TTL=2h
REFRESH_TOKEN_TTL=168h
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=admin123456
SYSTEM_TENANT_NAME=Default Tenant
SYSTEM_TENANT_SLUG=default
MYSQL_HOST=36.138.61.152
MYSQL_PORT=30036
MYSQL_USER=root
MYSQL_PASSWORD=passw0rd
MYSQL_DATABASE=opsbrain
MYSQL_CHARSET=utf8mb4
MYSQL_PARSE_TIME=true
MYSQL_MAX_OPEN_CONNS=10
MYSQL_MAX_IDLE_CONNS=5
MYSQL_CONN_MAX_LIFETIME=1h
MYSQL_AUTO_MIGRATE=true
